<h1>Edit Order <%= @order.id %></h1>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render :partial => 'basic_order_info' %>
    <h4>ORDER STATUS</h5>
    <h5><%= @order.status.html_safe %></h5>
    <%= form_for [@order] do |f| %>
    <%= render :partial => 'address_dropdowns' %>
    <%= f.submit %>
  <% end %>
  <%= link_to "DELETE ORDER", order_path(@order), method: :delete  %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h3>Edit Order Contents</h3>
     <table class="table">
      <thead>
        <th>Order ID</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total Price</th>
        <th>Remove</th>
      </thead>
      <tbody>
      	<%= form_for(:order_content, url: update_quantities_path, method: "put") do |f| %> 
	        <% @cart.each do |item| %>
	        <tr>
	          <td><%=item.order_id %></td>
	          <td><%=item.product.name%></td>
	          <td>
	          	<%= text_field_tag "quantity[#{item.id}]", item.quantity  %>
	          </td>
	          <td><%= item.product.price %></td>
	          <td><%= item.quantity * item.product.price %></td>
	          <td><%= link_to "Remove" , order_content_path(item), :method => :delete %>
	          </td>
	        </tr>
	        <% end %>
          <%= hidden_field_tag 'order_id', @order.id %>
	        <%= f.submit "Update Order Contents" %> 
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <h3>Edit Order Contents</h3>
     <table class="table">
      <thead>
        <th>Product ID</th>
        <th>Quantity</th>
      </thead>
      <tbody>
				<%= form_for(:order_content, url: add_items_path, method: "put") do |f| %> 
	        <tr>
	          <td>
	          	<%= text_field_tag "product_id"%>
	          </td>
	          <td>
	          	<%= text_field_tag "quantity"%>
	          </td>
	        </tr>
	        <%= hidden_field_tag 'order_id', @order.id %>
	        <%= f.submit "Add Products to Order" %> 
	      <% end %>
			</tbody>
    </table>
  </div>
</div>