<h1>New Order for <%= @user.name %></h1>
<div class="panel panel-default">
  <div class="panel-body">
    <%= render :partial => 'basic_order_info' %>
    <%= form_for [:admin, :user, @order] do |f| %>
    <%= render :partial => 'address_dropdowns' %>
    <%= f.submit %>
  <%end%>
  </div>
</div>